/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box ;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans", sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:20px ;
}
/* small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */


/* Classes */
:root{
    --main-color: #10cab7;
    --section-background:#F6F6F6;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --main-duration: 0.3s;
}


.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    margin-top: -35px;
    text-align: center;
    color: #797979;
    font-size: 20px;
}
@media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin:-20px ;
    }
}






/* Start Header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;  
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}


.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 50%;  
    transition: var(--main-duration);
} 

.header .links .icon span:last-child{
    width: 100%;
    
}

.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:var(--section-background) ;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    position: absolute;
    right: 5px;
    top: -20px;
    border-width: 10px;
    border-style:solid ;
    border-color: transparent transparent var(--section-background) transparent;
}
.header .links ul a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul a:hover{
    padding-left: 25px;
}
.header .links li:not(:last-child) {
    border-bottom:1px solid #ddd;
}
/* End Header */


/* Start Landing   */
.landing{
    background-image:url(../images/landing.jpg) ;
    background-size:cover ;
    width: 100%;
    height: calc(100vh - 64px );
    position: relative;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color, rgb(23, 164, 169));
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p{
    margin: 0;
    line-height: 1.8;
    font-size: 19px;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:320px ;
    max-width: 100%;
}
/* End Landing   */

/* Start Features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container .feat{
    text-align: center;
    padding: 20px;
}
.features .container .feat i{
    color: var(--main-color);
}
.features .container .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .container .feat p{
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}
/* End Features */

/* Start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    color: aliceblue;
}
.services .container .survices-content{
    grid-gap: 30px;
    margin-top: 100px;
}
.services .container .survices-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .container .survices-content .srv{
        flex-direction: column;
        text-align: center;
}
}
.services .container .survices-content .col .srv i{  
    color: var(--main-color);
    flex-basis: 60px;
}
.services .container .survices-content .col .srv .text{
    flex:1;

}
.services .container .survices-content .col .srv h3{  
    color: #050404;
    font-weight: 800;
    margin: 0px ;
}
.services .container .survices-content .col .srv p{  
    line-height: 1.6;
    color: #777;
    font-weight: 300;
    font-size: 17px;
}
.services .container .survices-content .col .image{
    position: relative;
    text-align: center;
}
.services .container .survices-content .col .image img{
    width: 260px;
}
.services .container .survices-content .col .image::before{
    content: "";
    position: absolute;
    right: 0px;
    top: -50px;
    width: 100px;
    height: calc(100% + 100px) ;
    background-color: var(--secondary-color);
    z-index: -1;
}
@media (max-width:1199px){
    .image{
        display: none;
    }
}
/* End services */

/* Start Portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    
}

.portfolio .container .portfolio-content{
    margin-top: 80px;
}
.portfolio .container .portfolio-content .col{
    background-color:white ;

}
@media (max-width:767px){
    .portfolio .container .portfolio-content .col{
        text-align: center;
} 
}

.portfolio .container .portfolio-content .col img{ 
    width: 100%;
}
.portfolio .container .portfolio-content .col .text{
    padding: 20px;
}
.portfolio .container .portfolio-content .col .text h3{
    margin: 0px ;
}
.portfolio .container .portfolio-content .col .text p{
    line-height: 1.6;
    color: #777;
    font-size: 17px;
    margin: 0;
    padding-top: 10px;
}
/* End Portfolio */


/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .container .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px){
    .about .container .about-content{
        flex-direction: column;
        text-align: center;
}
}
.about .container .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
/* *********** */
/* .about .container .about-content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1200px){
    .about .container .about-content .image::after{
        display: none;
    }
} */

@media (max-width:991px){
    .about .container .about-content .image{
        margin: 0 auto 60px;
    }
}
.about .container .about-content .image::before{
    position:absolute;
    content: "";
    left: -20px; 
    top: -40px;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    z-index: -1;
}
.about .container .about-content .image::after{
    position:absolute;
    content: "";
    top: -40px;
    right: -150px;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color) ;
    border-bottom: 80px solid var(--main-color) ;
    z-index: -1;
}
@media (max-width:991px){
    .about .container .about-content .image::before,
    .about .container .about-content .image::after{
    display: none;
} 
}
.about .about-content .image img {
    max-width: 100%;
}
.about .container .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .container .about-content .text p:first-of-type{
    line-height: 2;
    font-weight: bold;
    margin-bottom: 50px;
}

.about .container .about-content .text hr{
    color: var(--main-color);
    width: 50%;
    display: inline-block;
    
}
.about .container .about-content .text p:last-of-type{
    color: #777;
    line-height: 2;
}

/* End About */


/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .contact-content{
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);}
.contact .contact-content .label{
    font-size: 35px;
    font-weight:800;
    color: var(--secondary-color);
    letter-spacing: -3px;
    margin-bottom: 15px;
}
.contact .contact-content a{
    display: block;
    font-size:35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
    letter-spacing: -2px;
}
.contact .contact-content .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .contact-content .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px){
    .contact .contact-content .label, 
    .contact .contact-content a{
        font-size: 25px;
}
}
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;

    /* width: 100%;
    height: 80px;
    margin: 0;
    font-weight: 200; */
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}



/* End Contact */



